.contact-subtext-p{
    font-weight: 500;
    font-size: 16px;
    padding: 10px;
}

.contact-contenetor{
    display: flex;
    justify-content: center;
}

.contacto-img{
    display: flex;
    justify-content: center;
}

.form_icon{
    width: 40vw;
    border-radius: 10%;
}

/*contacto*/

.formcontato {
    background: linear-gradient(180deg,#201273 5%,#afb9e8 15%);
    padding: 40px 20px;
}

.contact-text h2{
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    padding: 0 0 20px 0;
    color: #454545;
}

.contact-img{
    width: 50px;
}

img.contact-img {
    display: none;
}

h3.contact-subtext {
    font-weight: 500;
    font-size: 16px;
    padding: 10px 5px;
    margin: 0;
}

h2.contact-title {
    font-weight: 700;
    font-size: 22px;
    padding: 10px;

}

.form__label{
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.input-container{
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}
  
.input {
    box-sizing: border-box;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 3.25rem;
    width: 95%;
    border-radius: 7px;
}

.mensaje{
    box-sizing: border-box;
    padding: 1.375rem 0.5rem 0.5rem;
    height: 4rem;
    border-radius: 7px;
    width: 95%;
}

.mensaje-error{
    display: none;
}

.contact-form *::placeholder {
    visibility: hidden;
    color: #00000000;
}
  
.contact-form *:focus {
    outline: none;
}
  
.label{
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 20px;
    transition: all 0.25s;
}
  
.contact-form *:not(:placeholder-shown) + .label,
.contact-form *:focus + .label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}

.contact-form [required]:valid {
    border: thin solid rgb(47, 78, 255);
}

.contact-form [required]:invalid {
    border: thin solid red;
}

.container--invalid {
    margin-bottom: 0.5rem;
}
  
.container--invalid .input {
    border: 1px solid red;
    border-radius: 7px;
}
  
.container--invalid .label{
    color: red;
}

.container--invalid .mensaje-error {
    color: red;
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
}

.none{
    display: none;
}

.contact-form-loader{
    text-align: center;
    margin-top: 5px;
}

.contact-form-response{
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}


/*button*/

.button {
    border: 2px #a52a2a;
    border-style: outset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #cb3838;
    color: #fff4dc;
    margin: 15px 0;
    border-radius: 45px;
}

.button:active { 
    border: none;
    border-style: dotted;
}

@media (min-width: 700px) {
    /*contacto*/
    section.formcontato {
        background: linear-gradient(0deg,#201273 ,#988cdf );
        padding: 40px 30px;
    }

    .contact-text .section-title{
        padding: 20px;
    }

    .contact-text .contact-subtext{
        padding: 20px;
        color: gainsboro;
    }

    section.formcontato form {
        padding: 0 20px;
    }

    /*footer*/
    section.footer {
        background: linear-gradient(180deg, #201273 3%, rgba(248,248,248,1) 43%);
    }

    div.rodape{
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .form_icon{
        width: 340px;
    }
}

@media (min-width: 1000px) {
    /*Contacto*/

    .formcontato .contact {
        display: flex;
        justify-content: center;
    }

    .formcontato .contact-text {
        margin-left: 2%;
        margin-top: 5%;
    }

    .formcontato .izquerda img.contact-img {
        display: block;
        width: 464px;
        height: 630px;
    }

    .contact-text .section-title {
        padding: 20px 0 10px 0;
    }

    .contact-text .contact-subtext {
        padding: 10px 0 8px 0;
    }

    section.formcontato form {
        padding: 0;
    }

    section.formcontato form input {
        width: 100%;
    }

    section.formcontato form textarea {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    section.formcontato {
        padding: 64px calc(50vh - 400px);
    }
}