.input-container {
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

section.formcontato form input {
    border: transparent;
    flex-grow: 1;
    margin: 10px 0px;
    height: 56px;
    box-sizing: border-box;
    width: 80vw;
    padding: 1.375rem 0.5rem 0.5rem;
    border-radius: 40px;
    background-color: #fafad233;
    box-shadow: 0 0 5px #ff9a00;
}

.input::placeholder {
    visibility: hidden;
    color: #464646;
    font-family: 'Raleway';
    background: transparent;
}

form input:focus {
    border-bottom: solid 2px #2A7AE4;
}

.input:focus {
    outline: none;
}
  
.input-label {
    position: absolute;
    top: 1.375rem;
    left: 0.5rem;
    font-size: 15px;
    transition: all 0.25s;
}
  
.input:not(:placeholder-shown) + .input-label,
.input:focus + .input-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}
  
.input-container--invalid {
    margin-bottom: 0.5rem;
}
  
.input-container--invalid .input {
    border: 2px solid #cb3838;
    border-radius: 40px;
    box-shadow: 0 0 5px brown;
}
  
.input-container--invalid .input-label {
    color: red;
}
  
.input-mensaje-error {
    display: none;
}
  
.input-container--invalid .input-mensaje-error {
    color: rgba(209, 75, 75, 0.911);
    display: block;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-weight: bold;
}

/*texarea*/
  
form textarea:focus {
    border-bottom: solid 2px #2A7AE4;
}

textarea::placeholder {
    color: #464646;
    font-family: 'Raleway'
}

.textarea {
    border: none;
    box-sizing: border-box;
    width: 80vw;
    padding: 1.375rem 0.5rem 0.5rem;
    border-radius: 40px;
    background-color: #fafad233;
    box-shadow: 0 0 5px #ff9a00;
    flex-grow: 1;
    margin: 10px 0px;
}

.textarea-container{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
    margin-bottom: 1rem;
}
  
.textarea::placeholder {
    visibility: hidden;
}
  
.textarea:focus {
    outline: none;
}

.textarea-label{
    position: absolute;
    font-size: 15px;
    left: 0.5rem;
    top: 1.375rem; 
    transition: all 0.25s;
}

.textarea:not(:placeholder-shown) + .textarea-label,
.textarea:focus + .textarea-label {
    font-size: 0.875rem;
    top: 0.25rem;
    transition: all 0.25s;
}
  
.textarea-container--invalid {
    margin-bottom: 0.5rem;
}
  
.textarea-container--invalid .textarea {
    border: 2px solid #cb3838;
    box-shadow: 0 0 5px brown;
}
  
.textarea-container--invalid .textarea-label {
    color: red;
}
  
.textarea-mensaje-erro {
    display: none;
}
  
.textarea-container--invalid .textarea-mensaje-erro {
    display: block;
    color: rgba(209, 75, 75, 0.911);
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-weight: bold;
}
  

/*button*/

.form button {
    border: 2px #a52a2a;
    border-style: outset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    background-color: #cb3838;
    color: #fff4dc;
    margin: 15px 0;
}

.form button:active { 
    border: none;
    border-style: dotted;
}

@media (min-width: 700px) {
    /*contacto*/

    .contact-text .section-title{
        padding: 20px;
    }

    .contact-text .contact-subtext{
        padding: 20px;
    }

    section.formcontato form {
        padding: 0 20px;
    }

    /*footer*/

    div.rodape{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 1000px) {
    /*Contacto*/

    .formcontato .contact {
        display: flex;
        justify-content: center;
    }

    .formcontato .contact-text {
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        margin-top: -2%;
    }

    .formcontato .izquerda img.contact-img {
        display: block;
        width: 464px;
        height: 630px;
    }

    .contact-text .section-title {
        padding: 20px 0 10px 0;
    }

    .contact-text .contact-subtext {
        padding: 10px 0 8px 0;
    }

    section.formcontato form {
        padding: 0;
    }

    section.formcontato form input {
        width: 100%;
    }

    section.formcontato form textarea {
        width: 100%;
    }
    .input-container input.input{
        width: 50vw;
    }

    .textarea-container textarea.textarea{
        width: 50vw;
    }
}

@media (min-width: 1440px) {
    section.formcontato {
        padding: 64px 172px;
    }
}