/*CSS Reset / Normalize*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

body {
    cursor: pointer;
    line-height: 1;
}

.espacios{
    padding: 0 20px;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

a:hover{
    color: #132d50;
    text-decoration: underline;
}

a:active{
    color: #12407c;
    text-decoration: underline;
}


input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*menu*/
.menu{
    text-align: start;
    background: linear-gradient(0deg, rgb(32 18 115) 32%, rgba(206,214,255,1) 55%, rgb(32 18 115) 81%);
}

.menu header{
    display: flex;
    align-items: center;
}

.menu-title{
    margin-left: 5px;
}

.menu-list{
    display: none;
}

.menuBarra{
    padding: 15px 20px;
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
}

/*para la barra lateral*/

#btn-menu{
    display: none;
}

.menuBarra-container{
    background: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    position: fixed;
}

#btn-menu:checked ~ .menuBarra-container{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100vw;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    
}

#btn-menu:checked ~ .menuBarra-container .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
    display: block;
}

.cont-menu nav a{
   display: block;
   text-decoration: none;
   padding: 20px;
   color: #c7c7c7;
   border-left: 5px solid transparent;
   transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*title*/

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(0deg, rgba(32,18,115,1) 16%, rgba(175,185,232,1) 58%, rgba(32,18,115,1) 90%);
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.octagon-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    transform: rotate(-45deg);
    position: relative;
    z-index: 1;
}
  
.octagon-container img {
    width: 100%; 
    height: 100%; 
    transform: rotate(45deg); 
    position: absolute;
    top: 0; 
    left: 0; 
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%); 
    animation: rotate 4s linear alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.title-texto{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
}

.title-texto h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: gainsboro;
}

.title-btn{
    text-align: center;
}

.title-btn img{
    width: 140px;
    height: 70px;
}

/*sobre mi*/

.about{
    background: linear-gradient(180deg,#201273 5%,#ced6ff 12%,#ced6ff 80%);
    padding: 40px 20px;
}

.about-container h3{
    font-size: 30px;
    font-weight: 700;
    color: #454545;
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
}

/*skills*/

.skills{
    padding: 40px 0;
    background: linear-gradient(180deg,#ced6ff 4%,#201273 12%,#4d3ea7 25%,#4d3ea7 80%,#201273 90%);
}

.section-title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    padding: 0 20px 20px;
    color: #454545;
}

.skills-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
/*cajas */
.box{
    display: flex;
    background: #30c2e3c7;
    border: #1835c5;
    border-style: inset;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 10px 10px 5px;
    width: 120px;
    height: 120px;
    color: gainsboro;
}

.box:active{
    border: #0004ffd5;
    border-style: inset;
}

/*hobbies*/

.hobbies{
    background: linear-gradient(180deg,#201273 8%,#afb9e8 18%);
    padding: 40px 0;
}

.hobbies h3{
    padding: 20px;
    font-size: 30px;
    color: #454545;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

.hobbies-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}


/*formación academica*/

.courses{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d6ab6980;
    margin-top: 5px;
}

.courses-box{
    padding-bottom: 10px;
}

/*experiencia*/
.experience{
    padding: 40px 0;
    background: linear-gradient(180deg,#afb9e8 2%,#201273 9%,#4d3ea7 25%,#4d3ea7 85%,#201273 98%);
}

.experiencia-box {
    margin: 0 32px 20px 32px;
}

.experiencia-box img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-container h2{
    font-size: larger;
}

.info-container h3{
    font-size: smaller;
}

.experience-description{
    display: flex;
}

span.experience-repo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #03173b;
    border-radius: 10px;
    color: #f6f6f6;
    background: #07323d;
    box-sizing: border-box;
    margin-top: 5px;
}

span.experience-demo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid #a80101;
    border-radius: 10px;
    background: #ff0800c2;
    color: #fff4dc;
    margin-top: 5px;
}

/*footeer*/

section.footer {
    background: linear-gradient(180deg, #afb9e8 2%, rgba(248,248,248,1) 43%);
}

div.rodape {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.rodape-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}

.rodape-iconos{
    width: 30px;
}

@media (min-width: 700px) {

    .espacios {
        padding: 0 50px;
    }

    .section-title {
        padding: 0 20px 20px 0;
    }

    .box {
        background: #4392d745;
        border: #1835c5;
        border-style: inset;
    }

    /*menu*/

    .menu{
        background: #201273;
        border-bottom: 3px solid #110557;
        box-shadow: 0 0 10px #110557;
    }

    .menuBarra{
        display: flex;
        justify-content: space-between;
    }

    .menu-list{
        display: block;
        display: flex;
    }

    .menu-list li{
        padding-left: 10px;
    }

    .box-shadow-menu:before {
        background: rgb(240, 240, 240);
        box-shadow: 
          0 0.25em 0 0 rgb(240, 240, 240),
          0 0.5em 0 0 rgb(240, 240, 240);
    }

    .cont-menu{
        max-width:250px;
    }
    /*title*/

    .title {
        height: 60vh;
        background: linear-gradient(180deg, rgba(32,18,115,1) , rgba(175,185,232,1) );
        justify-content: center;
    }

    .title-container{
        justify-content: space-between;
        flex-direction: row-reverse;
        padding-top: 0;
    }

    .title-texto{
        max-width: 300px;
        text-align: start;
        margin-top: 0;
        margin-bottom:0;
    }

    .title-btn{
        display: none;
    }

    /*sobre mi*/
    .about {
        background: linear-gradient(180deg,rgba(175,185,232,1) ,#ced6ff );
        padding: 40px 30px;
    }

    .about-container h3 {
        padding-bottom: 20px;
    }
    
    .about-container p,.about-container img {
        padding: 0 20px;
    }

    /*Skills*/
    .skills {
        padding: 40px 30px;
        background: linear-gradient(180deg,#ced6ff ,#afb9e8 );
    }

    .skills-line {
        padding: 0 20px;
    }

    /*Hobbies*/
    .hobbies {
        background: #afb9e8;
        padding: 40px 30px;
    }

    .hobbies h3 {
        padding: 0;
        padding-bottom: 20px;
    }

    .hobbies-line {
        padding: 0 20px;
    }

    /*experiencia academica*/

    /*experiencia profecional*/
    .experience {
        padding: 40px 30px;
        background: linear-gradient(180deg,#afb9e8 ,#988cdf);
    }

    .experiencia-contenedor {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        justify-content: space-between;
    }
    
    .experiencia-box {
        margin: 0 5px 10px;
        width: 250px;
    }

    .experiencia-box img {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        margin: 10px 0;
    }

    .experience-description {
        justify-content: space-between;
    }

}

@media (min-width: 1000px) {

    /*main*/

    

    /*Menu*/

    


    /*title*/

    

    /*sobre mi*/

    

    /*Skills*/

    

    /*Hobbies*/


    /*formación academica*/


    /*formación profecional*/

    

    /*Footer*/

}

@media (min-width: 1440px) {

    /*menu*/


    /*titluto*/


    /*sobre mi*/

 
    /*skills*/

    

    /*hobbie*/


    /*formación academica*/


    /*formación profesional*/

    
}