/*CSS Reset / Normalize*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
}

body {
    cursor: pointer;
    line-height: 1;
    color: #111111;
    background: #f0f0f0;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color:#111111
}

a:hover{
    color: #110557;
    text-decoration: underline;
}

a:active{
    color: #12407c;
    text-decoration: underline;
}


input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*menu*/
.menu{
    text-align: start;
    background: #d6ab69;
}

.menu header{
    display: flex;
    align-items: center;
}

.menu-title{
    margin-left: 5px;
}

.menu-list{
    display: none;
}

.menuBarra{
    padding: 15px 20px;
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em;
}
.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 
      0 0.25em 0 0 black,
      0 0.5em 0 0 black;
}

/*para la barra lateral*/

#btn-menu{
    display: none;
}

.menuBarra-container{
    background: rgba(0, 0, 0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    position: fixed;
}

#btn-menu:checked ~ .menuBarra-container{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100vw;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    
}

#btn-menu:checked ~ .menuBarra-container .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    transform: translateY(15%);
    display: block;
}

.cont-menu nav a{
   display: block;
   text-decoration: none;
   padding: 20px;
   color: #c7c7c7;
   border-left: 5px solid transparent;
   transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/*title*/

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 0 20px;
    background: #d6ab69;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.octagon-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
  
.octagon-container img {
    width: 100%; 
    height: 100%; 
    transform: rotate(45deg); 
    position: absolute;
    top: 0; 
    left: 0; 
    clip-path: polygon(15% 0, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%); 
    animation: rotate 4s linear alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg);
    }
}

.title-texto{
    margin-top: 3rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-texto h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
}

.titleBtnCV{
    margin-top: 3rem;
    width: 150px;
    text-align: center;
    border: 2px solid#111111;
    padding: 10px;
    border-radius: 45px;
    color: #f6f6f6;
    border: 3px solid #a80101;
    background: #f31d16;
}

/*titulo h2 y espacio--*/
.section-title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
}

.espacios{
    padding: 40px calc(50vw - 160px);
}

/*sobre mi*/
.about-container p{
    padding: 0 10px;
    padding-bottom: 10px;
}

.about-container img{
    padding-left: 10px;
}

/*skills*/

.skills{
    background: #d6ab69;
}

.skills-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
/*cajas */
.box{
    display: flex;
    border: 5px solid #510a0a;
    background-color: rgb(240, 240, 240);
    border-style: inset;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 10px 10px 5px;
    width: 120px;
    height: 120px;
}

.box:active{
    border: #0004ffd5;
    border-style: inset;
}

/*hobbies*/

.hobbies-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

/*formación academica*/

.courses{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d6ab6980;
    margin-top: 5px;
}

.courses-box{
    padding-bottom: 10px;
}

/*experiencia*/

.experience{
    background: #d6ab69;
}

.experiencia-box {
    margin: 0 32px 20px 32px;
}

.experiencia-box img{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgba(0, 0, 0,0.5);
    opacity: 0.90;
}

.info-container h2{
    font-size: larger;
}

.info-container h3{
    font-size: smaller;
}

.experience-description{
    display: flex;
}

span.experience-repo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #03173b;
    border-radius: 10px;
    color: #f6f6f6;
    background: #07323d;
    box-sizing: border-box;
    margin-top: 5px;
}

span.experience-demo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid #a80101;
    border-radius: 10px;
    background: #f31d16;
    color: #f6f6f6;
    margin-top: 5px;
}

/*footeer*/

section.footer {
    background: linear-gradient(0deg, #f6f6f6,#f3e6d5);
}

div.rodape {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    flex-direction: row;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.rodape-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}

.rodape-iconos{
    width: 30px;
}

@media (min-width: 700px) {

    .espacios {
        padding: 40px calc(50vw - 340px);
    }

    .section-title {
        padding: 0 20px 20px 0;
    }

    .box {
        border-style: inset;
    }

    /*menu*/

    .menu{
        border-bottom: 3px solid #111111;
        box-shadow: 0 0 10px #111111;
        background: #e9a847;
    }

    .menuBarra{
        display: flex;
        justify-content: space-between;
    }

    .menu-lg{
        color: rgb(240, 240, 240);
    }

    .menuBarra-container{
        display: none;
    }

    .box-shadow-menu{
        display: none;
    }

    .menu-list{
        display: block;
        display: flex;
    }

    .menu-list li{
        padding-left: 10px;
    }

    .box-shadow-menu:before {
        background: rgb(240, 240, 240);
        box-shadow: 
          0 0.25em 0 0 rgb(240, 240, 240),
          0 0.5em 0 0 rgb(240, 240, 240);
    }

    .cont-menu{
        max-width:250px;
    }
    /*title*/

    .title {
        height: 400px;
        justify-content: center;
    }

    .title-container{
        justify-content: space-around;
        flex-direction: row-reverse;
        padding-top: 0;
    }

    .title-texto{
        max-width: 420px;
        margin-top: 0;
        align-items: flex-start;
        margin-bottom: 0;
    }

    .title-btn{
        display: none;
    }

    .title-texto h2{
        text-align: start;
    }

    /*sobre mi*/

  

    /*Skills*/


    .skills-line {
        padding: 0 20px;
    }

    /*Hobbies*/
    
    .hobbies-line {
        padding: 0 20px;
    }

    /*experiencia academica*/

    /*experiencia profecional*/

    .experiencia-contenedor {
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
        justify-content: space-between;
    }
    
    .experiencia-box {
        margin: 0 5px 10px;
        width: 250px;
    }

    .experiencia-box img {
        width: 100%;
        height: 200px;
        border-radius: 20px;
        margin: 10px 0;
    }

    .experience-description {
        justify-content: space-between;
    }

}

@media (min-width: 1000px) {

    /*main*/

    .espacios {
        padding: 40px calc(50vw - 400px);
    }

    /*Menu*/
    .menuBarra {
        padding: 20px 30px;
    }
    


    /*title*/
   
    .title {
        height: 400px;
    }
    
    .title-texto {
        max-width: 500px;
    }



    .experiencia-box {
        margin: 0 0 20px;
        width: 350px;
    }

}
