/*CSS Reset / Normalize*/

body {
    box-sizing: border-box;
    background-color: #fff4dc70  ;
    cursor: pointer;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
    width: 100vw;
    overflow-x: hidden;
}

.move{
    animation: moverse 3s ease-in-out alternate;
}

@keyframes moverse {
    0% {
        transform: translate(0,-10%);
    }
    50% {
        box-shadow: 0 20px 30px rgba(95, 117, 42, 0.753);
    }
    100% {
        transform: translate(0, 10%);
    }
}



ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #efebeb;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover{
    color: #2A7AE4;
    text-decoration: underline;
}

a:active{
    color: #12407c;
    text-decoration: underline;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
/*menu*/
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #a52a2ade;
    box-shadow: 0 0 10px #a52a2ade;
    padding: 15px 20px;
    background: #c71e607a;
}

.menu header{
    display: flex;
    align-items: center;
}

.menu-title{
    margin-left: 5px;
    font-weight: 900;
}

.menu nav{
    display: flex;
}

.menu-list-item-c{
    text-align: right;
}

.menu-list{
    display: none;
}

/*title*/

.title {
    padding: 10px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px 0;
}

.title-container h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
}

.title-img{
    width: 25%;
    border-radius: 100%;
    margin-right: 10px;
}

.title-iconos{
    width: 50px;
    margin-right: 10px;
}
/*sobre mi*/

.about{
    background: #d6ab6980;
    padding: 10px;
}

.about-container h3{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

/*skills*/

.section-title {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    padding: 10px 10px 0;
}

.skills-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.skills-box{
    display: flex;
    background: #fff4dc;
    border: #ff07006b;
    border-style: inset;
    margin: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    align-items: flex-end;
}

.skills-box:active{
    border: #ff0800d5;
    border-style: inset;
}

/*hobbies*/

.hobbies-line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.hobbies-box{
    display: flex;
    background: #fff4dc;
    border: #ff07006b;
    border-style: inset;
    margin: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    align-items: flex-end;
}

.hobbies-box:active{
    border: #ff0800d5;
    border-style: inset;
}

/*formación academica*/

.courses{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d6ab6980;
    margin-top: 5px;
}

.courses-box{
    padding-bottom: 10px;
}

/*experiencia*/


.experiencia-box{
    padding: 10px;
}

.experiencia-box img{
    width: 90%;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info-container h2{
    font-size: larger;
}

.info-container h3{
    font-size: smaller;
}

.experience-description{
    display: flex;
}

.experiencia-box {
    margin: 0 32px 20px 32px;
}

.experiencia-box:hover{
    box-shadow: 5px 5px 20px rgba(219, 159, 80, 0.432);
    transform: translateY(-3%);
}

span.experience-repo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    border: 1px solid #d6ab69;
    color: #f6f6f6;
    background: #f0808094;
    box-sizing: border-box;
    margin-top: 5px;
}

span.experience-demo button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    margin-left: 16px;
    border: 1px solid #d6ab69;
    background: #ff0800c2;
    color: #fff4dc;
    margin-top: 5px;
}

/*footeer*/

section.footer {
    background-color:#f8f8f8;
}

div.rodape {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-top: 10px;
}

@media (min-width: 700px) {

    /*menu*/

    .menu{
        padding: 25px;
    }

    .menu-title {
        margin-left: 10px;
        font-weight: 900;
        font-size: larger;
    }

    /*title*/
    .title {
        margin: 25px 0;
        padding: 20px;

    }

    .title-div {
        justify-content: space-around;
        align-items: center;
        display: flex;
    }

    .title-container h2{
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    .title-img{
        width: 30%;
    }

    div.title-container {
        width: 524px;

    }

    section.title img.profile {
        width: 157px;
        margin-left: 32px;
    }

    .section-title {
        padding: 0px;
    }

    /*sobre mi*/

    .about{
        padding: 20px;
    }

    .about-container h3 {
        font-size: 32px;
        margin-bottom: 15px;
        font-weight: 700;
    }
    /*Skills*/

    .skills{
        padding: 20px;
    } 

    .skills-line {
        width: 100%;
    }

    .skills-line .skills-box {
        margin: 22px 12px 10px 0px;
        width: 180px;
        height: 118px;
    }

    /*Hobbies*/

    .hobbies-section {
        padding: 20px;
    }

    .hobbies-line {
        width: 100%;
    }

    .hobbies-box {
        margin: 22px 15px 10px 0px;
        width: 180px;
        height: 108px;
    }

    /*experiencia academica*/

    .academic .section-title {
        padding: 20px;
    }

    .courses{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    div.courses-box {
        width: 18rem;
        text-align: center;
    }

    .course-img img {
        width: 65%;
    }

    /*experiencia profecional*/

    .experience {
        padding: 20px;
    }

    .experiencia-box {
        display: flex;
        flex-direction: column;
    }

    .experiencia-box img {
        width: 85%;
    }
}

@media (min-width: 1000px) {

    /*main*/

    .section-title {
        font-size: 35px;
    }

    /*Menu*/

    nav ul.menu-list {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        width: 600px;
    }

    .title-container h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }

    .menu-list-item-c {
        display: none;
    }

    div.title-container {
        width: 751px;
    }

    section.title img.profile {
        width: 368px;
    }

    /*title*/

    .title-iconos {
        width: 67px;
    }
    

    .title-container ul {
        display: flex;
        margin-left: -65px;
        align-items: center;
        padding: 0px;
        font-size: 16px;
    }

    .title-container h3 {
        font-size: 17px;
        line-height: 23px;
    }

    /*sobre mi*/

    .about {
        padding: 30px 50px 0;
    }

    div.about-container {
        height: 290px;
    }

    div.about-container img{
        margin: 10px;
    } 

    /*Skills*/

    .skills {
        padding: 20px 40px;
    }

    div.skills-line {
        width: 100%;
    }

    div.skills-line div.skills-box {
        margin: 22px 15px 22px 0px;
        width: 108px;
        height: 118px;
    }

    /*Hobbies*/

    .hobbies-section {
        padding: 0 40px;
    }

    .hobbies-line {
        width: 100%;
    }

    div.hobbies-line div.hobbies-box {
        margin: 22px 15px 22px 0px;
        width: 108px;
        height: 108px;
    }

    /*formación academica*/

    div.courses-box {
        width: 380px;
    }

    .academic .section-title {
        padding: 10px 40px;
    }

    section.academic div.courses ul li.course-img img {
        width: 70%;
    }

    section.academic div.courses ul li.course-img {
        padding: 30px 30px;
    }

    /*formación profecional*/

    div.experiencia-box {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 5px #d6ab69e0;
        border-style: double;
        border-bottom-left-radius: 45px;
        border-top-right-radius: 45px;
    }

    .experiencia-contenedor{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 0 10px 0;
    }

    div.experiencia-box {
        flex-direction: column;
        width: 300px;
        height: 350px;
        justify-content: flex-start;
        padding: 20px;
    }

    .info-container h2 {
        font-size: 30px;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .info-container h3 {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .info-container {
        margin: 0 5%;
    }

    /*Footer*/

    section.footer div.rodape {
        line-height: 10px;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        padding: 2.5%;
    }
}

@media (min-width: 1440px) {

    /*menu*/

    .menu {
        padding: 15px 50px;
    }

    .menu-title {
        font-weight: 700;
        font-size: 22px;
    }

    /*titluto*/

    .title-img {
        width: 21%;
        margin-right: 40px;
    }

    div.title-container {
        width: 900px;
    }

    /*sobre mi*/

    .about {
        padding: 30px 150px 0;
    }

    /*skills*/

    .skills {
        padding: 20px 150px;
    }

    section.skills div.skills-line {
        justify-content: center;
    }

    div.skills-line div.skills-box {
        margin: 22px 15px 22px 0px;
        width: 156px;
        height: 118px;
    }

    /*hobbie*/

    .hobbies-section {
        padding: 0 150px;
    }

    section.hobbies-section div.hobbies-line {
        justify-content: center;
    }

    section.hobbies-section div.hobbies-line div.hobbies-box {
        margin: 22px 15px 22px 0px;
        width: 156px;
        height: 118px;
    }

    /*formación academica*/

    .academic .section-title {
        padding: 10px 150px;
    }

    /*formación profesional*/

    .experience{
        padding: 0 150px 0 150px;
    }

    .experiencia-contenedor{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 0 10px 0;
    }

    div.experiencia-box {
        flex-direction: row;
        width: 605px;
        height: 250px;
        justify-content: center;
    }

    .experiencia-box img {
        width: 50%;
    }
    
}